[submodule "azure-administration-configure-and-manage-virtual-networking-2871074"]
	path = azure-administration-configure-and-manage-virtual-networking-2871074
	url = https://github.com/LinkedInLearning/azure-administration-configure-and-manage-virtual-networking-2871074.git
[submodule "log4ps"]
	path = log4ps
	url = https://github.com/gaelcolas/log4ps.git
